@model SelfEduV2.com.Models.Video

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row videoContainer">


    <video width="850" height="480" controls>
        <source src="@Model.FilePath" type="video/mp4" />
        <source src="@Model.FilePath" type="video/x-ms-wmv" />
        <source src="@Model.FilePath" type="video/mpeg" />
    </video>

</div>
<hr />
<div class="row" data-toggle="collapse" data-target="#moreDetails">

    <div class="col-sm-6">
        <h4>@Model.Title</h4>
        <!--Use dto for rating to get overall likes and dislikes-->
        <h4>@Model.OverAllRating</h4>

    </div>

    <div class="col-sm-6 text-right">
        <h4>@Model.CreatorChannel.ChannelName</h4>
        <h4>@Model.Views</h4>

    </div>

</div>
<div class="row text-center" data-toggle="collapse" data-target="#moreDetails">
    <h6>More Details</h6>
</div>
<div class="row collapse" id="moreDetails">
    <div class="container">
        <div class="row">

            <h4>@Html.DisplayNameFor(model => model.Description): </h4>
        </div>
        <div class="row">
            <p>@Html.DisplayFor(model => model.Description)</p>
        </div>
        <div class="row">
            <h4>@Html.DisplayNameFor(model => model.Keywords): </h4>
            <p>@Html.DisplayFor(model => model.Keywords)</p>
        </div>

    </div>
</div>



<div class="row secondaryContent">
    <div class="col-sm-9">
        <div class="container-fluid" id="userComments">
            <div class="row">
                <button type="button" class="btn btn-dark btn-lg center-block" data-toggle="collapse" data-target="#commentFormCont">Leave Comment</button>
            </div>
            <div class="row collapse" id="commentFormCont">
                <textarea class="form-control" rows="5" id="commentTextbox" placeholder="Please Enter your comment here"></textarea>
                <button type="button" class="btn btn-dark" id="commentSubmit" data-toggle="collapse" data-target="#commentFormCont">Submit</button>
            </div>

            <!--display comments here-->
            <div class="container-fluid" id="commentsOnVideo">
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <!--display users other videos-->
        <div class="container-fluid" id="videoSuggestions">

        </div>
    </div>

</div>

@section Scripts{
    <script src="@Url.Content("~/Scripts/CustomScripts/AjaxRequest.js")"></script>
    <script src="@Url.Content("~/Scripts/CustomScripts/VideoPGScript.js")"></script>
    <script>
        $(document).ready(function () {

            $('#commentSubmit').on('click', function () {
                postComment();
            });
            getAndSetDetails(@Model.Video_id);
        });
    </script>
}