@using Microsoft.AspNet.Identity
@using SelfEduV2.com.Extensions;

@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right" id="usernameBtn">
        <li>
            <a>Hello  @User.Identity.GetUserName()</a>
        </li>
    </ul>
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-inverse" id="userdropdown">
        @if (User.Identity.HasChannel())
        {
            <!--will try implement style in javascript later-->
            <style>
                .topBToggle {
                    height: 200px !important;
                }
            </style>
            <li>@Html.ActionLink("Channel", "Details", "Channels", routeValues: null, htmlAttributes: new { title = "Channel" })</li>
            <li>@Html.ActionLink("Upload Video", "Create", "Videos", routeValues: null, htmlAttributes: new { title = "Video upload" })</li>
        }
        <li>@Html.ActionLink("Manage Account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>

    </ul>

    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
